<div class="menufooter">
    <ul class="menu">

        <li><a href="Home">Home</a></li>
        <li>Product Category</li>
        <li>Jiffy Products</li>
        <li>Promotion</li>
        <li>Register</li>
        <li>Jiffy Points</li>
        <li>Contact Us</li>

    </ul>
</div>

<footer class="footer">
    <section>
        <ul>
            <li>About us</li>
            <li>Mission Statement</li>
            <li>B Corporation</li>
            <li>Careers</li>
            <li>Uncommon Knowledge</li>
            <li>Got a product for us?</li>
        </ul>
    </section>
    <section>
        <ul>
            <li>Better To Give</li>
            <li>FAQs</li>
            <li>Customer Service</li>
            <li>Shopping Oprions</li>
            <li>Print an order form</li>
            <li>Feedback</li>
            <li>Gift Certificate</li>
        </ul>
    </section>
    <section>
        <ul>
            <li>Request a Catalog</li>
            <li>Browse Online Catalog</li>
            <li>Catalog Unsubscribe</li>
            <li>Email Unsubscribe</li>
            <li>Coporate Orders</li>
        </ul>
    </section>
    <section>
        <ul>
            <li>Subscribe to This Just In</li>
            <li>Terms & Conditions</li>
            <li>Site Map</li>
            <li class="social"><img src="~/Content/img/socialicon.png" /></li>
        </ul>
    </section>
    <section class="email">
        <h1>SIGN UP FOR OUR EMAIL</h1>
        <input type="email" class="email-control" id="exampleInputEmail1" placeholder="Enter email">
        <button type="submit" class="emailsend"  ></button>
    </section>
</footer>