@RenderPage("_Header.cshtml")
        <div class="wrapper">

       
            @RenderBody()

            @Scripts.Render("~/bundles/jquery")
            @RenderSection("scripts", required: false)


        </div>
        <div style="clear:both"></div>
        <div class="bannerfooter">
            <img src="~/Content/img/banner-footer.png" />
        </div>
      
        @RenderPage("_Footer.cshtml")
    </div>
</body>
</html>
